<p>The Web's first and only weather forecast comparison service. Established 2009.</p>

<div class="provider provider-bbc"></div>
<div class="provider provider-metcheck"></div>
<div class="provider provider-metoffice"></div>
<div class="provider provider-accuweather"></div>
<div class="provider provider-weatherunderground"></div>
<div class="provider provider-weatherchannel"></div>
<div class="clear"></div>

<p>WeatherSupermarket finds you the best weather forecasts on offer
	from the Met Office, the Weather Channel, BBC, Metcheck, Weather
	Underground and AccuWeather.</p>

<a
	href="http://www.facebook.com/pages/Weather-Supermarket/144574078954083"><span
	class="social social-facebook"></span></a>
<a href="http://twitter.com/weathersuperm"><span
	class="social social-twitter"></span></a>
